.logo {
  display: block;
  width: 118px;
  height: 35px;
  background-image: url(assets/intuit.png);
}

.services {
  color: #6c6d73;
}

.existing-account-login {
}

.account-aside {
}

#mint {
}
#mint-logo {
}
#quickbooks {
}
#quickbookts-logo {
}
#turbotax {
}
#turbotax-logo {
}
#email {
}
#phone {
}
#password {
}
#create-account {
}
#terms {
}
#legal {
}
#privacy {
}
#security {
}
.existing-account {
}
.account-aside {
}
.existing {
}
.recover {
}
.sign-in {
}
.sign-in-btn.button {
}
.lock-icon {
}
.names-logos {
}
.logo-container {
}
.logo {
}
.services-container {
}
.services {
}
.register-form {
}
.form-header {
}
.header-main {
}
.header-message {
}
.message {
}
.learn-more {
}
.register {
}
.email-field {
}
.field-label {
}
.phone-field {
}
.password-field {
}
.password-lock-icon {
}
.submit {
}
.create-account-btn.button {
}
.terms-conditions {
}
.link {
}
.captcha {
}
.footer-links {
}
.links-list {
}
.copy-right {
}
.cw-trademark {
}
.terms-statement {
}
