html * {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eceef1;
  font: 12px "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  color: #505050;
}

/* Nav */

.existing-account {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
  box-sizing: border-box;
  height: 60px;
  padding: 10px 30px;
}

.account-aside,
.sign-in {
  margin-left: 10px;
}

.sign-in-btn {
  padding: 0 20px;
  height: 34px;
  color: white;
  font-size: 1.125em;
  line-height: normal;
  cursor: pointer;
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
}
.lock-icon {
  height: 20px;
  width: 16px;
  margin-right: 6px;
  vertical-align: text-top;
  background-image: url(assets/lock-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Header */

.logo-container {
  padding: 20px 0;
  text-align: center;
}
.logo {
  display: block;
  width: 118px;
  height: 35px;
  background-image: url(assets/intuit.png);
  margin: 0 auto;
}
.services-container {
  height: 42px;
  padding-bottom: 4px;
  text-align: center;
}

.services {
  height: 23px;
  width: 318px;
  font-size: 0; /*prevent li space*/
  padding: 0;
  margin: 0 auto 15px;
}

.services * {
  display: inline-block;
  font-size: 0;
}

.services li {
  margin-right: 9px;
}

.services li:last-child {
  margin-right: 0;
}

.service-icon {
  margin-right: 4px;
  width: 23px;
  height: 23px;
}

#mint {
  background: url("assets/mint.svg") no-repeat;
  width: 37px;
  height: 20px;
}
#mint-icon {
  background: url("assets/mint-icon.svg");
}
#quickbooks {
  background: url("assets/quickbooks.svg") no-repeat;
  width: 98px;
  height: 22px;
}
#quickbooks-icon {
  background: url("assets/quickbooks-icon.svg");
}
#turbotax {
  background: url("assets/turbotax.svg") no-repeat;
  width: 74px;
  height: 22px;
}
#turbotax-icon {
  background: url("assets/turbotax-icon.svg");
}

/* main, register form */

.main-content {
  font-size: 14px;
  width: 380px;
  background-color: #fff;
  padding: 30px;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  margin: auto;
}

.form-header {
  text-align: center;
  padding-bottom: 20px;
}
.header-main {
  color: #393a3d;
  font-weight: 400;
  line-height: 1.1;
  font-size: 24px;
}
.header-sub {
  color: #393a3d;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  padding-top: 20px;
}

fieldset {
  padding: 0;
  border: 0;
  padding-bottom: 30px;
}

.field-label {
  display: block;
  font-weight: normal;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 6px;
}

.text-input-field {
  position: relative;
  width: 320px;
  min-width: 160px;
  height: 34px;
}

.text-input-field input {
  padding: 0 6px 0 8px;
  width: 320px;
  height: 34px;
  border: 1px solid #c1c5c8;
  color: #000000;
  font-size: 1.2em;
  border-radius: 3px;
  line-height: 1.3em;
}

.phone-field {
  height: 115px;
}

#phone-msg {
  display: block;
  padding: 5px 0;
  font-size: 10px;
  color: #444;
}

.password-field label {
  height: 34px;
}

.password-lock-icon {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  width: 33px;
  height: 32px;
  color: #0077c5;
  background: url(assets/pass-lock.png) no-repeat 0% 50% / 21px 21px;
}

.submit {
  padding-bottom: 10px;
}

.create-account-btn {
  width: 100%;
  height: 44px;
  font-size: 1.125em;
  line-height: 1.428571429;
  color: #fff;
  text-transform: capitalize;
  background: #0077c5;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
  min-width: 100px;
}

.terms-conditions {
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: #757575;
}

.captcha {
  line-height: 1.5;
  color: #8d9096;
  background-color: #eceef1;
  text-align: center;
  margin: 32px -30px -30px -30px;
  padding: 16px;
}

.captcha #captcha-text {
  font-size: 10px;
}

/* Footer */

.footer-container {
  width: 90%;
  text-align: center;
  /* color: #505050; */
  padding: 20px 0;
  margin: 0 auto;
}

.links-list {
  list-style: none;
  padding-top: 5px;
  padding-left: 0;
}

.links-list li {
  display: inline-block;
}

.links-list li:not(:first-child) {
  padding-left: 10px;
}

.links-list li a {
  color: #505050;
}

/* Misc */

.icons {
  display: inline-block;
  cursor: pointer;
}

a {
  cursor: pointer;
  color: #0077c5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.privacy-settings {
  position: fixed;
  bottom: 0;
  right: 5%;
  font-size: 14px;
  color: #fff;
  background-color: #6b6c72;
  padding: 10px 12px;
  border-radius: 3px;
  z-index: 100;
  cursor: pointer;
}
